h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: PTSans-Captionbold;
}

* {
    font-family: Lato-Medium;
}

.fw-bold, b {
    font-family: Lato-Heavy !important;
}

.logo {
    font-family: Stapel;
}